<div class="container-fluid top_row">
    <div class="container" >
        <div class="row">
            <div class="col-lg-2 col-md-2">
            </div>
            <div class="col-lg-8 col-md-8"></div>
            <div class="col-lg-2 col-md-2">
                <div class="navbar-custom-menu navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="user user-menu" style="margin-top: 8px;">
                           

                        </li>
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>


                </div>
            </div>
        </div>
    </div>
</div>
